<h1>Pagina de Perfil</h1>
<p>{{error}}</p>
Bienvenido {{user.first_name}}
<br/>
Usuario: {{user.email}}

<a href="/api/sessions/logout">
   <button style="background-color:rgb(182, 182, 227) ;">Cerrar sesion</button> 
</a>